body {
  background: lightblue;
  padding: 0px;
  margin: 0px;
}

span {
  quotes: "“" "”" "‘" "’";  
  font-family: sans-seif;
}

span::before {
  content: open-quote;
  font-size: 52px;
  vertical-align: -1.2rem;
  line-height: 0.4;
  font-family: sans-serif;
}

button{
  padding: 0px 8px 0px 6px;
  height: 35px;
}

#app{
  display:flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content : center;
}

/*
Quote Animations
*/
.card-text p:nth-child(1){
  transform: translateX(10px);
}

.animate {
  animation: fadeInTranslateX ease 1s;
  -webkit-animation: fadeInTranslateX ease 1s;
  -moz-animation: fadeInTranslateX ease 1s;
  -o-animation: fadeInTranslateX ease 1s;
  -ms-animation: fadeInTranslateX ease 1s;
}

@keyframes fadeInTranslateX {
 0% {opacity:0;transform: translateX(-5px);}
 100% {opacity:1;      transform: translateX(10px);
 }
}

@-moz-keyframes fadeInTranslateX {
 0% {opacity:0;transform: translateX(-5px);}
 100% {opacity:1;      transform: translateX(10px);
 }
}

@-webkit-keyframes fadeInTranslateX {
 0% {opacity:0;transform: translateX(-5px);}
 100% {opacity:1;      transform: translateX(10px);
 }
}

@-o-keyframes fadeInTranslateX {
 0% {opacity:0;transform: translateX(-5px);}
 100% {opacity:1;      transform: translateX(10px);
 }
}

@-ms-keyframes fadeInTranslateX {
 0% {opacity:0;transform: translateX(-5px);}
 100% {opacity:1;      transform: translateX(10px);
 }
}
